@model IEnumerable<NieLada.Models.Zamowienie>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista Wszystkich Zamówień</h2>

<p>
    @Html.ActionLink("Złóż nowe zamówienie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ZdjecieUrl)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NaKiedy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budzet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZdjecieUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ZdjecieUrl)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NaKiedy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budzet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
           @*Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
           Html.ActionLink("Details", "Details", new { id=item.Id }) |
           Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
           
           
            <img src="@item.ZdjecieUrl"  alt="Image" />
            
        </td>
    </tr>
}

</table>
