@model NieLada.Models.Wielkosc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wielkosc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjecieUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjecieUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
